#button_container {
	margin: auto;
	width: 960px;
	text-align: center;
}

button {
	width: 150px;
	height: 30px;
}

#grid_container {
	overflow: auto;
	width: 960px;
	margin: auto;
}

.grid_square {
	background-color: black;
	float: left;
	border: 1px solid white;
}

.grid_square_lit {
	background-color: red;
}

.new_row {
	clear: both;
}