body {
	font-family: arial;
}

#header {
	/* Background's not totally black (apparently).
	Fixed position allows div to be forced to sit flush against	the
	edges of the browser window. Is there a better way? I dunno */
	background-color: #2d2d2d;
	width: 100%;
	height: 30px;
	position: fixed;
	left: 0;
	top: 0;
}

#header ul {
	margin-top: 5px;
	padding-left: 8px;
}

li {
	/* Notice this bit of CSS affects both the header and footer lists.
	It's super effective. */
	font-size: 13px;
	padding: 5px 8px 5px 8px;
	display: inline;
	list-style-type: none;
}

#header ul li a {
	font-weight: bold;
	color: #BBBBBB;
	text-decoration: none;
}

#header ul li a:hover {
	color: white;
	text-decoration: none;
}

#signin_button {
	height: 27px;
	margin: 47px 32px 0px 0px;
	text-align: right;
}

#signin_button button {
	background-color: #D14836;
	border: 1px solid #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border-radius: 4px;
	padding: 7px 16px 8px 16px;
}

#center_piece {
	text-align: center;
}

#logo {
	padding-top: 120px;
}

#search_box {
	/* An input HTML element defaults to display:inline, but we	need it
	to appear on a new line. Hence, a rare appearance by display:block. */
	display: block;
	height: 24px;
	width: 572px;
	margin: 16px auto 8px auto;
}

.search_button {
	/* FYI - "rgba" means Red Green Blue Alpha. Zero red/green/blue means
	you're left with black, but the 0.1 alpha means 10% opacity, which
	makes the end result grey rather than black. Whoa. */
	font-size: 11px;
	font-weight: bold;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 4px;
	border-radius: 2px;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 31px;
	border-top: 1px solid rgba(0, 0, 0, 0.1)
}

#footer ul {
	text-align: right;
	margin-top: 3px;
	padding-right: 46px;
}

#footer ul li a {
	color: #666666;
	text-decoration: none;
}

#footer ul li a:hover {
	text-decoration: underline;
}